html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

button{
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f7f7ff;
    font-size: 25px;
    outline: none;
    width: 70px;
}


.calculator{
    display: flex;
    flex-direction: column;
    width: 280px;
}

.keys{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.key-row-1, .key-row-2, .key-row-3{
    width: 100%;
}

.key-row-1{
    display: flex;
}

.key-row-2{
    display: flex;
}

.key-row-3{
    display: flex;
}

.no{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.equal{
    flex-basis: 100%;
}

.zero{
    flex-basis: 66.6%;
}

.sy{
    display: flex;
    flex-direction: column;
}

.plus{
    flex-basis: 50%;
}

.function{
    background-color: #e8e6e8;
}

.operator{
    background-color: #fe9241;
    color: #fff;
}

.equal{
    background-color: #0a89ff;
}

.display{
    background-color: #252525;
    width: 100%;
    font-size: 2rem;
    color: #ccc;
    padding: 20px;
    text-align: right;
    margin-bottom: 5px;
}